# not necessary
*secrets.yaml
*ip_bans.yaml
.c9
.cloud
.storage
.tox
*/__pycache__/*
*.pyc
deps
tts
.HA_VERSION
.spotify-token-cache
.uuid
*.log
*.conf

# not mine to share
custom_components/google_geocode
themes
www/device_pics/
